# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask/SQLAlchemy
instance/
*.db
*.sqlite3

# Environments
env/
venv/
.venv/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Deployment
*.log
*.pid

# Docker build cache
*.egg-info/
